<div class="container">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h2>Add Event</h2>
      <form class="form-control" method="" action="">
	      <label class="col-sm-2" id="lbl" for="Event">Event: </label>
	      <input class="col-md-4" type="text" name="Event" placeholder="Event Names">
	      <br><br>
	      <label class="col-sm-2" id="lbl" for="Where">Where: </label>
	      <input class="col-md-4" type="text" name="Where" placeholder="Where is the Event">
	      <br><br>
	      <label class="col-sm-2" id="lbl" for="When">When: </label>
	      <input class="col-md-2" type="date" name="When" placeholder="When is the Event (Date)">
	      <input class="col-md-2" type="time" name="When" placeholder="When is the Event (Time)">
	      <br><br>
	      <label class="col-sm-2" id="lbl" for="Who">Who: </label>
	      <input class="col-md-4" type="text" name="Who" placeholder="Who will attend">
	      <br><br>
	      <label class="col-sm-2" id="lbl" for="Details">Details: </label>
	      <input class="col-md-4" type="text" name="Details" placeholder="Details of the Event">
	      <br><br>
	      <label class="col-sm-2" id="lbl" for="Banner">Banner Picture: </label>
	      <input class="col-md-4" type="file" name="Banner" placeholder="Details of the Event">
	      <br><br>
	      <input class="col-md-4 btn btn-primary" type="submit" name="submit" value="Create">
      </form>
    </div>
  </div>
</div>